{% extends "base.html" %}
{% load static %}
{% block title %} MindConnect |  Home{% endblock %}

{% block content %}
  <section class="hero">
    <div class="hero-bg"></div>
    <div class="hero-content">
      <h1>Your Journey to Mental Wellness Starts Here</h1>
      <p>At MindConnect, we believe mental health is the foundation of a fulfilling life. Whether you are seeking personal counselling, family therapy, or professional training in mental wellness, our dedicated team is here to support and empower you.</p>
      <a href="{% url 'book_session' %}" class="book-btn">Schedule Your First Session</a>
    </div>
  </section>
  <!--About section-->
  <section class="content-section">
    <h2>Who We are</h2>
    <p>Booking a session with MindConnect is quick and straightforward. We’ve designed the process to make sure you feel supported at every step — from your first click to your first conversation with a therapist.</p>
  </section>  

   
<!-- Services Section -->
  <section class="services-section">
    <section class="content-section">
      <h2>Our Services</h2>
      <p>At MindConnect, we provide a wide range of counselling, therapy, and wellness services designed to meet
         you where you are. Whether you’re seeking individual support, family guidance, or group therapy, our compassionate
        professionals are here to walk with you on your journey toward healing and growth.</p>
    </section>
    <div class="services-grid">
        {% for service in services %}
            <div class="service-card">

                <div class="card-image">
                    <img src="{{ service.image }}" alt="{{ service.title }}">
                </div>

                <div class="card-content">
                    <h3>{{ service.title }}</h3>

                    <p>{{ service.short_description }}</p>

                    <a href="{% url 'service_detail' service.slug %}" class="card-link">
                        Learn more
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>

            </div>
        {% empty %}
            <p>No featured services available.</p>
        {% endfor %}
    </div>
    <a href="{% url 'services' %}" class="pri-btn">View all services</a>
  </section>
  <section class="tag-section">
      <div class="tag-container">
        <div class="tag-card">
          <p><strong>1125 +</strong></p>
          <p>Happy Clients</p>
        </div>
        <div class="tag-card">
          <p><strong>2325 +</strong></p>
          <p>Sessions</p>
        </div>
        <div class="tag-card">
          <p><strong>5 +</strong></p>
          <p>Years of Experience</p>
        </div>
      </div>
  </section>
    <!-- How It Works Section -->
  <section class="how-it-works">
      <section class="content-section">
            <h2>How it Works</h2>
            <p>Booking a session with MindConnect is quick and straightforward. We’ve designed the process to make sure you feel supported at every step — from your first click to your first conversation with a therapist.</p>
      </section>
      <div class="process-steps">
           {% for step in steps %}

        <div class="step-card">
            <div class="step-number">
                {{ forloop.counter }}
            </div>

            <h3>{{ step.title }}</h3>

            <p>{{ step.description }}</p>
        </div>

        {% if not forloop.last %}
        <div class="step-connector">
            <i class="fas fa-arrow-right"></i>
        </div>
        {% endif %}

      {% endfor %}
            
        </div>
        
        <div class="cta-container">
            <a href="{% url 'services' %}" class="pri-btn">Discover Services</a>
        </div>
  </section>
   
 <section class="testimonials-section">

    <section class="content-section">
        <h2>Testimonials</h2>
        <h6>Stories of healing, growth, and transformation</h6>
    </section>


    <div class="testimonials-slider">

        <div class="testimonials-track">

            {% for testimonial in testimonials %}

                <div class="testimonials-card">

                    <div class="testimonial-content">

                        <p class="testimonial-message">
                            “{{ testimonial.message }}”
                        </p>

                        <p class="testimonial-author">
                            <strong>{{ testimonial.name }}</strong>

                            {% if testimonial.position %}
                                – {{ testimonial.position }}
                            {% endif %}
                        </p>

                        <div class="testimonial-rating">

                            {% for i in "12345" %}

                                {% if forloop.counter <= testimonial.rating %}
                                    <i class="fa-solid fa-star"></i>
                                {% else %}
                                    <i class="fa-regular fa-star"></i>
                                {% endif %}

                            {% endfor %}

                        </div>

                    </div>

                </div>

            {% empty %}

                <p class="no-testimonials">
                    No testimonials available at the moment.
                </p>

            {% endfor %}


            <!-- Duplicate cards for seamless animation -->

            {% for testimonial in testimonials %}

                <div class="testimonials-card">

                    <div class="testimonial-content">

                        <p class="testimonial-message">
                            “{{ testimonial.message }}”
                        </p>

                        <p class="testimonial-author">
                            <strong>{{ testimonial.name }}</strong>

                            {% if testimonial.position %}
                                – {{ testimonial.position }}
                            {% endif %}
                        </p>

                        <div class="testimonial-rating">

                            {% for i in "12345" %}

                                {% if forloop.counter <= testimonial.rating %}
                                    <i class="fa-solid fa-star"></i>
                                {% else %}
                                    <i class="fa-regular fa-star"></i>
                                {% endif %}

                            {% endfor %}

                        </div>

                    </div>

                </div>

            {% endfor %}

        </div>

    </div>

</section>


</section>
<section class="faq-section">

    <div class="content-section">
        <span class="section-tag">FAQ</span>

        <h2>Frequently Asked Questions</h2>

        <p>
            Find answers to common questions about our counselling services.
        </p>
    </div>

    <div class="faq-container">

        {% for faq in faqs %}

            <details>
                <summary>{{ faq.question }}</summary>

                <p>
                    {{ faq.answer }}
                </p>
            </details>

        {% empty %}

            <p class="no-faqs">
                No frequently asked questions available at the moment.
            </p>

        {% endfor %}

    </div>

</section>
<section class="content-section">
    <h2>Book a Free Consultation</h2>
    <p>
        Take the first step toward emotional wellness and personal growth.
    </p>
      <br>
    <a href="{% url 'contact' %}" class="book-btn">
        Request a Consultation
    </a>
</section>

{% endblock %}