.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  justify-self: center;
}

section {
  padding: var(--section-padding) 0;
  margin-top: var(--section-margin-top);
  background: var(--background-color);
  align-items: center;
}

.content-section {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 40px;
}