{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MindConnect{% endblock %}</title>
    <meta name="description"
      content="{% block meta_description %}Professional counselling and therapy services in Kenya.{% endblock %}">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
     <!-- Top Navigation Bar -->
        <div class="top-navbar" id="topNavbar">
            <div class="top-nav-left">
                <span>(+254) 711 897 242</span>
                <span>info@techsolution.com</span>
            </div>
            <div class="top-nav-right">
                <span>Mon-Fri: 9am-7pm</span>
                <span>Emergency: (+254) 792-501 015</span>
            </div>
        </div>
        <div class="bottom-navbar">
    <!-- Mobile Menu Toggle + Left Links -->
            <div class="nav-left">

                <!-- Mobile/Hidden Links -->
                <ul class="nav-links">
                    <li><a href="/" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a></li>
                    <li><a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a></li>
                    <li><a href="{% url 'services' %}" class="{% if request.resolver_match.url_name == 'services' %}active{% endif %}">Services</a></li>
                    <li><a href="{% url 'case_study' %}" class="{% if request.resolver_match.url_name == 'case_study' %}active{% endif %}">Case Studies</a></li>
                    
                </ul>
            </div>
            <!-- Logo centered on mobile -->
            <div class="nav-logo">
                <a href=""><img src="{% static 'images/logo.png' %}" alt="MindConnect Counseling Logo"></a>
            </div>

            <div class="nav-right">

                <ul class="nav-links">
                    <li><a href="{% url 'events' %}"class="{% if request.resolver_match.url_name == 'events' %}active{% endif %}">Events</a></li>
                    <li><a href="{% url 'contact' %}"class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}"> Contact</a></li>
                    <li><a href="{% url 'gen_dashboard' %}"class="{% if request.resolver_match.url_name == 'gen_dashboard' %}active{% endif %}"> Dashboard</a></li>

                </ul>

                <a href="{% url 'book_session' %}" class="book-button">Book Now</a>

                <div class="profile-dropdown">

    {% if user.is_authenticated %}

        <button class="profile-btn" onclick="toggleDropdown(event)">

            {% if user.profile.profile_photo %}
                <img src="{{ user.profile.profile_photo.url }}"
                    alt="Profile"
                    class="profile-avatar">
            {% else %}
                <i class="fas fa-user-circle profile-icon"></i>
            {% endif %}

            <span class="profile-name">
                {{ user.first_name|default:user.username }}
            </span>

            <i class="fas fa-chevron-down dropdown-arrow"></i>

        </button>

        <div class="dropdown-menu" id="profileMenu">

            <div class="dropdown-header">

                {% if user.profile.profile_photo %}
                    <img src="{{ user.profile.profile_photo.url }}"
                        class="dropdown-avatar"
                        alt="Profile">
                {% else %}
                    <i class="fas fa-user-circle dropdown-user-icon"></i>
                {% endif %}

                <div>
                    <h4>{{ user.get_full_name|default:user.username }}</h4>
                    <small>{{ user.email }}</small>
                </div>

            </div>

            <hr>

            <a href="{% url 'update_profile' %}">
                <i class="fas fa-user"></i>
                My Profile
            </a>

            <a href="{% url 'settings' %}">
                <i class="fas fa-cog"></i>
                Settings
            </a>

            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="dropdown-btn">
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                </button>
            </form>

        </div>

    {% else %}

        <a href="{% url 'login' %}" class="profile-login">
            <i class="fas fa-user-circle profile-icon"></i>
        </a>

    {% endif %}

</div>

            </div>

            <button class="menu-toggle" type="button">
                <span></span>
                <span></span>
                <span></span>
            </button>


<!-- Mobile Menu -->
            <div class="mobile-menu">

                <ul nav-links>
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'case_study' %}">Case Studies</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>

                <a href="{% url 'book_session' %}" class="book-button">Book Now</a>
                <a href="{% url 'register' %}" class="book-button">Log In</a>

            </div>
            
        </div>

        

            <!-- Right Links + Book Button -->
            

            {% block content %}
            {% endblock %}

        <footer>
            <div class="footer-content">
                <!-- First Section: Logo and Description -->
                <div class="footer-section">
                    <div class="footer-logo">
                        <img src="{% static 'images/logo.png' %}" alt="MindConnect Counseling Logo">
                    </div>
                    <p class="footer-description">
                    At Techwell Therapy, we believe every mind deserves care and every story matters.
                    </p>
                </div>
                
                <!-- Second Section: Services -->
                <div class="footer-section">
                    <h3 class="footer-heading">Links</h3>
                    <ul class="footer-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Case Studies</a></li>
                </div>
                
                <!-- Third Section: Resources -->
                <div class="footer-section">
                    <h3 class="footer-heading">Resources</h3>
                    <ul class="footer-links">
                        <li><a href=""></i> Policy</a></li>
                        <li><a href=""><i class="fas fa-chevron-right"></i> Terms & Conditions</a></li>
                        <li><a href=""><i class="fas fa-chevron-right"></i> Our Story</a></li>
                        <li><a href=""><i class="fas fa-chevron-right"></i> Workshops & Events</a></li>
                    
                    </ul>
                </div>
                
                <!-- Fourth Section: Newsletter and Social -->
                <div class="footer-section">
                    <h3 class="footer-heading">Stay Connected</h3>
                    <form class="newsletter-form">
                        <input type="email" class="newsletter-input" placeholder="Your email address" required>
                        <button type="submit" class="newsletter-btn">Subscribe</button>
                    </form>
                    
                    <div class="social-links">
                        <a href="https://www.facebook.com/share/1A83VcFEHb/" target="blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter" target="blank"></i></a>
                        <a href="https://www.instagram.com/invites/contact/?utm_source=ig_contact_invite&utm_medium=copy_link&utm_content=oe0b1g" target="blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://linkedin.com/comm/mynetwork/discovery-see-all?usecase=PEOPLE_FOLLOWS&followMember=erastus-ivelia-982267166" target="blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="copyright">
                <!-- Developer Credit Section -->
                    <p>
                        Designed & Developed by
                    <a href="https://www.techwellsolution.com" target="_blank"><strong>TechWell Code</strong></a>
                    </p>
                <p>&copy; 2025  <b>Techwell Therapy</b>. Healing Minds, Empowering Futures. | All rights reserved.</p>
            </div>
        </footer>

        <script src="{% static 'js/main.js' %}"></script>

        {% block scripts %}
        {% endblock %}

  <script>
    function toggleDropdown(event) {
        event.stopPropagation();
        document.getElementById("profileMenu").classList.toggle("show");
    }

    document.addEventListener("click", function () {
        const menu = document.getElementById("profileMenu");
        if (menu) {
            menu.classList.remove("show");
        }
    });
</script>          
</body>
</html>
