{% extends "base.html" %}
{% load static %}
{% block title %} MindConnect | {{ event.title }} {% endblock %}

{% block content %}
<nav class="breadcrumbs" aria-label="Breadcrumb">
    <div class="container">
        <a href="{% url 'home' %}">Home</a>
        <span>/</span>

        <a href="{% url 'events' %}">Events</a>
        <span>/</span>

        <span class="current">{{ event.title }}</span>
    </div>
</nav>
<section class="event-detail">

      
    

    <img src="{{ event.image }}" alt="{{ event.title }}" class="event-banner">
    <div class="event-info">
        <h1>{{event.title }}</h1>

        <p>{{ event.short_description }}</p>

        <div class="event-meta">
            <p>📅 {{ event.event_date|date:"F d, Y" }}</p>
            <p>⏰ {{ event.start_time|time:"g:i A" }} - {{ event.end_time|time:"g:i A" }}</p>
            <p>📍 {{ event.venue }}</p>
        </div>

        <hr>

        <div class="event-description">
            {{ event.description|linebreaks }}
        </div>

        <div class="button-container">
            <a href="{% url 'events' %}" class="details-link">
                <i class="fas fa-arrow-left"></i> Back
            </a>

            {% if event.registration_link %}
            <a href="{{ event.registration_link }}"
            class="event-btn"
            target="_blank">
                {{ event.button_text }}
            </a>
            {% endif %}
        </div>

    </div>


</section>

{% endblock %}