{% extends "base.html" %}
{% load static %}
{% block title %} MindConnect |  Events{% endblock %}
{% block content %}
<section class="events-hero">
    <div class="hero1-bg"></div>
    <div class="hero-content">
        <h1>MindConnect Events</h1>
        <p>
            Experience a range of thoughtfully crafted workshops, expert-led training sessions, 
            restorative healing programs, and engaging community events, all aimed at enhancing mental, 
            emotional, and physical wellness while empowering you to thrive in every aspect of life.
        </p>
        <a href="{% url 'contact' %}" class="pri-btn">Contact us</a>
    </div>
</section>
<section class="events-section">
    <h2 class="section-title">Upcoming Events</h2>

    <div class="events-container">
        {% for event in events %}
        <div class="event-card">

            <img src="{{ event.image }}" alt="{{ event.title }}">

            <div class="event-content">
                <h3>{{ event.title }}</h3>

                <p>
                    {{ event.short_description }}
                </p>
                <br>
                <a href="{% url 'event_detail' event.slug %}" class="card-link">
                    Learn more <i class="fas fa-arrow-right"></i>
                </a>
            </div>

        </div>
        {% empty %}
        <p>No upcoming events available.</p>
        {% endfor %}
    </div>
</section>

<section class="past-events-section">
    <h2 class="section-title">Past Events</h2>

    <div class="past-events">
        <p>✨ Emotional Healing Workshop – April 2025</p>
        <p>✨ Mental Health Awareness Week – December 2025</p>
        <p>✨ Family Counseling Seminar – April 2026</p>
    </div>
</section>

{% endblock %}
